<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452298642011-qg4jelarof4fm0iqti0mkl6e79e62bej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452298642011-qg4jelarof4fm0iqti0mkl6e79e62bej</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>452298642011-4vt61e9qbg9ml8pbn3dj7mo5avbgupjj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvdlaFY6dFqQNMjqJaK9GSRTpsz2YswJw</string>
	<key>GCM_SENDER_ID</key>
	<string>452298642011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arbree.aamarpharma</string>
	<key>PROJECT_ID</key>
	<string>aamar-pharma</string>
	<key>STORAGE_BUCKET</key>
	<string>aamar-pharma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452298642011:ios:860bd156d0b2605e83257e</string>
</dict>
</plist>